body {margin:0%;}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
}

h1 {
  font-family: 'Comic Sans', cursive;
  color: darkblue;
}

.topnav {
  background-color: darkgreen;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.topnav a {
  float: left;
  color: aliceblue;
  font-family: monospace;
  text-align: center;
  padding: 14px 16px;
  text-decoration: lawngreen;
  font-size: 20px;
}

.topnav a:hover {
  background-color:black;
  color:aliceblue;
}


.content {
  padding: 16px;
  margin-top: 30px;
}